legend#root__title::before{
  margin-right:0;
}
#root__description{
  padding-bottom: 24px;
}
section.navigation {
  border-top: 3px solid #FAFAFA;
}
.section-card-content {
  border: 1px solid #CCCCCC;
  padding: 12px;
  margin-bottom: 24px;
  border-radius: 6px;
  background-color: #FAFAFA;
  position:relative;
}
.section-card-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 12px;
}
.section-content-row {
  border: 1px solid #CCC;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 12px;
  background-color: #FFF;
  position:relative;
}
.section-content-row-title{
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 18px;
}
.section-content-row-field {
  border: 1px solid #CCC;
  padding: 12px;
  border-radius: 6px;
  margin-bottom: 12px;
  background-color: #FAFAFA;
  position:relative;
}
.help-block {
  font-size: .8em;
}
.remove-icon{
  position:absolute;
  top: 12px;
  right: 12px;
}
.preview-form {
  border: 2px dashed #CCCCCC;
  height: 100%;
}
